






<div class="container">


<div class="card bg-light mb-3" style="max-width: 25rem;">
  
  <div class="card-body">
   
<h3>About 😺</h3>
  <p class="lead">Well i made this website to make worldwide footprints of ourselves..remember how we used to write quote in yearbook think of this website as a global version of Yearbook called Webook ;) </p>
  <hr class="my-0">

  <p class="">it's just a simple directory app to store your <b><i>Name, Snapchat-Instagram Username, Age</i></b> and <b><i>Quote</i></b> written by <b style="color: #FFFFB7"><i>you</i></b></p>
  <hr class="my-1">  


  </div>
</div>





</div>


