<center><div class="container">
  <h1 class="display-3" style="font-size: 350%">Snapnames</h1>
  <p class="lead">Simple SocialMedia Directory</p>
  <p>Just enter your Name, Snapchat-Instagram Username, Age and A Quote written by you. :3</p><br/>




  <input type="text" class="form-control text-center" placeholder="Name" id="inputDefault"><br/>
  
  <input type="text" class="form-control text-center" placeholder="Snapchat Username" id="inputDefault"><br/>
  
  <input type="text" class="form-control text-center" placeholder="Instagram Username" id="inputDefault"><br/>
  
  <input type="text" class="form-control text-center" placeholder="Age" id="inputDefault"><br/>
  
  <input type="text" class="form-control text-center" placeholder="Quote" id="inputDefault"><br/>
  
  <button type="button" class="btn btn-outline-dark">Submit</button>

</div></center>


